* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: border-box; tells the browser to include padding and border inside the element’s
   declared width and height. */
}

.inputContainer {
  background-color: yellowgreen;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  background-color: rgb(60, 34, 34);
  height: 50%;
  width: 5%;
  border-radius: 10px;
}

#input {
  height: 50%;
  width: 30%;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.7rem;
}

.taskContainer {
  background-color: #2196f3;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.task {
  margin: 10px;
  padding: 10px;
  background-color: white;
  height: 5vh;
  width: 30vw;
  border: none;
  border-radius: 10px;
  display: flex;
  /* makes an element a flex container, allowing you to easily arrange its child elements in rows or columns. */
  justify-content: space-between;
  /* justify-content: space-between; distributes flex items evenly along the main axis, pushes children to opposite sides.*/
  align-items: center;
  /* centers flex items along the cross axis. */
}

#editBtn{
  
}

#taskOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
